/* CSS declarations go here */

.main-menu .tab-content {
    height: 100%;
}

a.active {
    background-color: lightgray;
}

.loading {
    width: 100%;
    height: 100%;
    img {
        margin: 48%;
    }
}

table.parameterSets {
    th, td {
        font-size: smaller;
    }
}

.js-editor-container {
    .js-editor {
        position: relative;
        border: 1px solid black;
        min-width: 600px;
        min-height: 400px;
    }
}
.full-screen-editor {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    overflow: auto;

    .button-bar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        margin: 0;
    }
    .js-editor {
        position: fixed;
        top: 42px;
        left: 0;
        width: 100%;
        bottom: 0;
    }
}
